body
{
	background: linear-gradient(rgb(23, 162, 218), rgb(191, 233, 6));
	font-size: 30px;
}
.buttons
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.buttons a
{
	height: 50px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
}
.buttons a:hover
{
	height: 55px;
	background-color: rgb(247, 10, 10);
}
iframe
{
	width: 50%;
	margin-left: 25%;
}